<p id="notice"><%= notice %></p>

<p>
  <strong>Viewer:</strong>
  <%= @eye.viewer %>
</p>

<p>
  <strong>Viewee:</strong>
  <%= @eye.viewee %>
</p>

<%= link_to 'Edit', edit_eye_path(@eye) %> |
<%= link_to 'Back', eyes_path %>
