<%= simple_form_for(@aime) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :liker %>
    <%= f.input :liked %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
